apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: nodered
  namespace: nodered
  labels:
    app: nodered
  annotations:
    traefik.ingress.kubernetes.io/redirect-entry-point: https
spec:
  rules:
    - host: {{ nodered_host }}
      http:
        paths:
          - backend:
              serviceName: nodered
              servicePort: {{ nodered_web_port }}
            path: /