apiVersion: v1
kind: Service
metadata:
  name: nodered
  namespace: nodered
  labels:
    app: nodered
spec:
  selector:
    app: nodered
  ports:
    - name: nodered-web
      protocol: "TCP"
      port: {{ nodered_web_port }}
      targetPort: 1880
  type: ClusterIP