# Cache objects
packer_cache/

# Crash log
crash.log

# For built boxes
*.box

# Arm image
*.img
output-arm-image/
packer-builder-arm-image

# vagrant
.vagrant/

# ssh key
.ssh/

# vault_pass
.vault_pass

# self inventory file
*hosts.ini