apiVersion: v1
kind: Service
metadata:
  name: gitlab
  namespace: gitlab
  labels:
    app: gitlab
spec:
  selector:
    app: gitlab
  ports:
    - name: http-web
      protocol: "TCP"
      port: {{ gitlab_web_port }}
      targetPort: 80
    - name: http-reg
      protocol: "TCP"
      port: {{ gitlab_registry_port }}
      targetPort: 5050
  type: ClusterIP
---
apiVersion: v1
kind: Service
metadata:
  name: gitlab-ssh
  namespace: gitlab
  labels:
    app: gitlab-ssh
spec:
  selector:
    app: gitlab
  ports:
    - name: tcp-git
      protocol: "TCP"
      targetPort: 22
      port: {{ gitlab_ssh_port }}
      nodePort: {{ gitlab_ssh_port }}
  type: NodePort